<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    form {
        display: inline;
    }

</style>
<form method="POST">
    <input type="text" name="city">
    <input type="submit" name="create">

</form>
<ul>
    {% for k,v in arr %}
        <li>{{ k }} {{ v }}
            <button id="id{{ x[0] }}" onclick="edit(this.id)">Редактировать</button>
            <form method="POST">

                <input type="text" hidden placeholder="city" name="city" value="{{ k }}">
                <input type="submit" value="Удалить" name="submit">
            </form>
        </li>
    {% endfor %}
</ul>
<script>
    function edit(id) {
        document.querySelector("#".concat(id)).setAttribute("hidden", "hidden");
        document.querySelector(".".concat(id)).removeAttribute('hidden');
    }
</script>
</body>
</html>