<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
{% for x in languages %}
<li><a href="http://127.0.0.1:500{{loop.index0}}/{{x}}">{{x}}</a></li>
{% endfor %}
</ul>
</body>
</html>